<b><h1>**FUNCTIONS IN PYTHON**</h1><b>
<h4> Welcome to the lesson on Function! You will learn why and how we use functions in Python :)</h4>

<h3><b>What is a Function and why we use it</h3></b>
A function is a block of which when called perform a specific task.
In python programming or any programming language you use, a function is used:

<i><li> When a specific block of code is required to be performed again and again.
<i><li> To make the code easier to understand and more user friendly.

<H3><B>IMPLEMENTING A FUNCTION</b></h3>
<u><h5>For implementing a function we need to follow three steps:</u></h5>
<ul><li><I>   Define the function
<li>   Write function body
<li>   Return Statement</i></ul>
Don't Worry!! We will  look at these three steps one by one

<h3><b>1. Defining a Funnction in Python</b></h3>

In python you define a Function using the keyword <u>**def**</u>.
```
# To define a  function we first write the keyword "def" followed by "name of the function" and round paranthesis "()". 

def Fun_Name():
    ## Here we just defined a function
    ## The name of the function is Fun_Name
    ## COOL XD
```

<h3><b>2. Writing the Function body</b></h3>

After defining the function now you need to write the body of the function which is the working of youe function  <i>i.e. what you want your function to do for you</i>

```
def Hello():
    print('Hello')
```
<h5> The code above will print Hello whenever you call the function.</h5>
<b> Don't worry we will see calling function in details later... </B> <br><br>

In [3]:
names = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", 
        "Lily Aldrin", "Marshall Eriksen"]

def lower_first_name(name):
    
    splitted_name = name.split(" ")
    
    first_name = splitted_name[0]
    last_name = splitted_name[1]
    
    res = first_name.lower() + " " + last_name
    
    return res

In [ ]:
lower_first_name("Robin Scherbatsky")

In [9]:
ord('A')

65

In [11]:
chr(65)

'A'

In [21]:
def my_lower_function(name):
    res = ""
    
    for i in range(0, len(name)):
        
        ascii_code = ord(name[i]) 
        if(65 <= ascii_code <= 90):
            new_ascii_code = ascii_code + 32
            res += chr(new_ascii_code)
        else:
            res += name[i]
        
    return res

In [28]:
my_lower_function("BarNey StinSon0 95 ")

'barney stinson0 95 '

In [30]:
"BarNey".lower()

'barney'

In [41]:
#LET'S TRY THE ABOVE CODE
def Hello():
    return ('Hello_World')

In [42]:
Hello()

'Hello_World'

><b>Note: You can use as many print lines in the function as you want!!</b>

<br>
<h2><b>TASK</b></h2>
Try making a function to print the message you want the way we just did...  For now keep the name of the function <b>ShapeAI</b>  and run the two cells below...

In [43]:
def ShapeAI():
  ## PRINT WHATEVER YOU WANT TO PRINT BUT MAKE SURE TO INDENT THE CODE PROPERLY
  print("The message you want to print")

# DON'T WORRY AFTER YOU RUN THIS CELL,THERE WOULD BE NO OUTPUT AS YOU ARE JUST DEFINING THE FUNCTION

In [44]:
ShapeAI()    ## HERE WE ARE CALLING THE FUNCTION, IT SHOULD PRIINT THE STATEMENT YOU ASKED THE FUNCTION TO PRINT IN THE ABOVE CELL

The message you want to print

<b>In the function we just defined we just called the function and didnot pass any other value..But what if you want to write a function that print the addition of the two number that you want?</b>
<li>You have to pass the two values in the function as an argument...
<BR>
<br>
<b>How does you do that?</b>
<li>You define the arguments you want your function to take as input when the function is called inside the round paaranthesis

```
def ADD(a, b):
    print(a+b)
```
<i>The function we just wrote take the two arguments by the user and store them in local variables <b>a</b> and <b>b</b>. The function then use the value stored in the variables to perform addition and print the addition</i>

In [45]:
def ADD(a,b,c,d):
    return (a+b+c+d)

ADD(5,6, 11, 12)  #expexted output = 11

34

In [47]:
# p1: [2, 3]
# p2: [4, 5]

def distance_bw_coordinates(p1, p2):
    res = ((p1[0]-p2[0])**2 + (p1[1]-p2[1])**2)**(1/2)
    return res

In [48]:
distance_bw_coordinates([4,5], [6,7])

2.8284271247461903

<H4><B>Calling of a Function</b></h4>

<li>Calling a function means to make a refference in your code to a function that you wrote.
<li>To call a function you need to write the function name followed by round parannthesis <b>()</b>
<li>If the function you're calling requires arguments, you pass the argument values inside the paranthesis.  


```
fun_name(arguments_to_pass_if_any)   # This how a function is called
```
If you notice, while calling the ADD function or any of the function we define above, we just follow the same pattern. In the function hello, we didnot pass any argument because that didn't need any argument.<br><br>

> **NOTE:** We can pass the arguments while calling the function using two ways:
* *By position, and*
* *By name*

In [50]:
def divide(numerator, denominator):
    print(numerator/denominator)

divide(4,2)   # Calling by position
divide(denominator=2, numerator=4)   # Calling ny name

2.0
2.0

In [70]:
def divide(numerator, denominator=2):
    print(numerator/denominator)

divide(8)   # Calling by position
divide(numerator=4)   #

4.0
2.0

In [65]:
# '{:.5f}'.format(5/6)

<h2><b>Task:</b></h2>Write a function which takes two number as arguments and print the multiplication of the two numbers

In [ ]:
def Multiply(## WRITE THE VARIABLE NAMES):
  ## WRITE THE CODE TO PRINT THE MULTIPLICATION OF TWO NUMBERS


# Call the multiply function you just defined

<h4> <B> Default Values to the Arguments</b></h4>
While defining a function you can set some default values for the arguments in case if user dosn't pass the argument value
Let's look how:<br>

```
def Area(length=2, breadth=2):
    print(length*breadth)
```
Here if you don't pass the values of length and breadth while calling the function, the default values the function will take will be 2 and 2 for length and breadth repectively.</p>

In [71]:
# Lets give it a try
def Area(length=5, breadth=1):
    print(length*breadth)

In [73]:
Area(5,2)          # Expected Output: 10
Area(3)            # Expected Output: 3
Area(breadth=2)    # Expected Output: 10
Area()             # Expected Output: 5

10
3
10
5

<h3> <b>3. Return Statement</h3></b>
<b>In the function we saw above, we just print the things which we wanted. But what if we instead of printing the value, we want to store those values and use them later for our work ?</b>
<li> We use the return statement to return the calculations we did in our function

```
def ADD(a=4, b=3):
    returb a+b
```
The code returns the addition of two numbers, we can store the value return by the function and use it later whenever required

In [ ]:
# Let's see the code in action
def ADD(a=10, b=20):
    return a+b

In [ ]:
suma = ADD(5,2)
# HERE WE JUST STORED THE VALUE RETURNED BY THE FUNCTION IN THE VARIABLE SUM 
# LET'S SEE WHAT DOES THE VARIABLE SUM CONTAIN BY PRINTIG IT
print(sum)

7

> <B>Note: You can also return more than one value in a function</B>

```
def Fun(a=5, b=10):
    sum=a+b
    diff=a-b
    return sum, diff 
```
The code returns the addition and subtraction of the two numbers...

In [75]:
def Fun(a=5, b=10):
    sumi = a+b
    diff = a-b
    return sumi, diff

In [78]:
res1, res2 = Fun(4, 5)
print(res1, res2)

9 -1

In [79]:
sum, diff = Fun(10,6)
print(f'Addition of the two numbers is {sum}')
print(f'Difference of the two numbers is {diff}')

Addition of the two numbers is 16
Difference of the two numbers is 4

> <b>Note: All function have a return statement. If you doesn't return anything then by default it returns None</b>

In [80]:
a = Area()
print(a)

5
None

## **Summary:**
A function definition includes several important parts.

#### **Function Header:**
Let's start with the function header, which is the first line of a function definition.

1. The function header always starts with the def keyword, which indicates that this is a function definition.
2. Then comes the function name (here, cylinder_volume), which follows the same naming conventions as variables. You can revisit the naming conventions below.
3. Immediately after the name are parentheses that may include arguments separated by commas (here, height and radius). Arguments, or parameters, are values that are passed in as inputs when the function is called, and are used in the function body. If a function doesn't take arguments, these parentheses are left empty.
4. The header always end with a colon :.
<br><br>

#### **Function Body:**
The rest of the function is contained in the body, which is where the function does its work.

1. The body of a function is the code indented after the header line. Here, it's the two lines that define pi and return the volume.
2. Within this body, we can refer to the argument variables and define new variables, which can only be used within these indented lines.
3. The body will often include a return statement, which is used to send back an output value from the function to the statement that called the function. A return statement consists of the return keyword followed by an expression that is evaluated to get the output value for the function. If there is no return statement, the function simply returns None.


Below, you'll find a code editor where you can experiment with this.
<br><br>


#### **Naming Conventions for Functions:**
Function names follow the same naming conventions as variables.

1. Only use ordinary letters, numbers and underscores in your function names. They can’t have spaces, and need to start with a letter or underscore.
2. You can’t use reserved words or built-in identifiers that have important purposes in Python, which you’ll learn about throughout this bootcamp.
3. Try to use descriptive names that can help readers understand what the function does.

### **Question:**
Write a function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values. I've included two test cases that you can use to verify that your function works correctly. Once you've written your function, use the Test Run button to test your code.

In [81]:
# write your function here
def population_density(population, land_area):
    res = population/land_area

    return res


# test cases for your function
test1 = population_density(10, 1)
expected_result1 = 10
print("expected result: {}, actual result: {}".format(expected_result1, test1))

test2 = population_density(864816, 121.4)
expected_result2 = 7123.6902801
print("expected result: {}, actual result: {}".format(expected_result2, test2))

expected result: 10, actual result: 10.0
expected result: 7123.6902801, actual result: 7123.690280065897

### **Question:**
Write a function named readable_timedelta. The function should take one argument, an integer days, and return a string that says how many weeks and days that is. For example, calling the function and printing the result like this:

```
print(readable_timedelta(10))
```
should output the following:
```
1 week(s) and 3 day(s).
```

In [ ]:
# write your function here


# test your function
print(readable_timedelta(10))

<H2> <b>Lambda Function </b> </H2>
We just saw a simple function to return addition of two numbers, instead of writting the function the way we defined earlier there is an another way of writtng it.

```
def Add(a, b):
    return a+b
```
The code above can be written as:

```
Add = lambda a,b: a+b
```

> <b> Note: The lambda function can take any number of arguments but can have only one expression

In [83]:
def add(a, b, c):
    return a+b+c

add(4, 5, 1)

10

In [84]:
add = lambda a,b,c : a+b+c
add(4, 5, 1)

10

In [86]:
Sub = lambda a,b: a-b

print(Sub(5,2))    #EXPEXTED OUTPUT: 3

3

### **Components of a Lambda Function:**
1. The lambda keyword is used to indicate that this is a lambda expression.
2. Following lambda are one or more arguments for the anonymous function separated by commas, followed by a colon :. Similar to functions, the way the arguments are named in a lambda expression is arbitrary.
3. Last is an expression that is evaluated and returned in this function. This is a lot like an expression you might see as a return statement in a function.

With this structure, lambda expressions aren’t ideal for complex functions, but can be very useful for short, simple functions.

### **Question:**
map() is a higher-order built-in function that takes a function and iterable as inputs, and returns an iterator that applies the function to each element of the iterable. The code below uses map() to find the mean of each list in numbers to create the list averages. Give it a test run to see what happens.

Rewrite this code to be more concise by replacing the mean function with a lambda expression defined within the call to map().

In [102]:
numbers = [
              [34, 63, 88, 71, 29],
              [90, 78, 51, 27, 45],
              [63, 37, 85, 46, 22],
              [51, 22, 34, 11, 18]
           ]

#lis = [3, 4, 6, 2]
def mean(lis):
    res = sum(lis)/len(lis)
    return res

for i in range(0, len(numbers)):
    print(mean(numbers[i]))

57.0
58.2
50.6
27.2

**<h2>VARIABLE SCOPE</h2>**
 The scope of the variable reffers to which part of the code, the variable can be referenced, or used, from

* If a variable is created inside a function, then it can only be used inside that function and not anywhere else.

In [103]:
def sumi(a, b):
    answer = a+b
    return answer

S = sumi(5,6)
print(answer)

NameError: name 'answer' is not defined

Here we will get an error, because the variable answer is defined within the the function and can't be used outside unless defined

<br>On the other hand, we might have a variable defined outside the function, and we can access it anywhere outside or within these functions

In [104]:
ans = 0
def print_ans():
    print(ans)

print_ans()
print(ans)

0
0

The purpose of the functions is to make the code cleaner and easy to understand. Writting the formula for calculating simple interest again and again is mush more difficult to understand than writting a function to calculate the interest ans call it again and again.<br>
<br>
One of the most important thing that makes code conataining the function easier to understand is that the functions have the human defined name, which are easier to understand i.e. the function to return area of the circle can be named as cir_area, which makes it easier to recognize as the area of circle.

> **Good practice:** It is best to define variables in the smallest scope they will be needed in. While functions can refer to variables defined in a larger scope, this is very rarely a good idea since you may not know what variables you have defined if your program has a lot of variables.

## **DOCSTRINGS**
There is one more technique that makes the function in python more readable, the **documentation strings** or the **docstrings**. Docstrings are the type of comments that explains the purpose of a function and how it should be used.

* Docstrings are surrounded by tripple quotes.
* The first line of the docstring is the brief explaination of the function perpose.
* The next line of the docstring is generally contains information about the arguments that the function takes
* Finally it provides the description about the output.

>**NOTE:** Every part of the docstring is optional, but it is good habit to write docstring while defining a function, so that everyone can understand the code easily

In [ ]:
def simple_interest(amount, rate, time):
  """
  Calculate the total amount to be paid after adding Simple Interest.
  INPUT:
  amount = principal amount (ruppes)
  rate = rate (in %) at which the interest is gonna increase (rupees/year)
  time = time for which the principal amount was kept (in years)

  OUTPUT:
  returns the total amount to be paid after adding simple interest 
  """
  return (amount + amount*rate*time/100)

simple_interest(1000, 10, 1)

1100.0

If you think that a longer description would be appropriate for the function, you can add more information after the one-line summary. In the example above, you can see that we wrote an explanation of the function's arguments, stating the purpose and types of each one. It's also common to provide some description of the function's output.

Every piece of the docstring is optional, however, docstrings are a part of good coding practice. You can read more about docstring conventions [here.](https://www.python.org/dev/peps/pep-0257/)

Scope is essential to understand how information is passed in python or any other programming language

**<h3>TASK**</h3>
Write a python function find max(a/b) for all (a,b) belongs to {x1, x2, x3}, where x1, x2 and x3 are the numbers passed as an argument to the function.
<br><br>
for e.g: if we pass 1, 2 and 3 to the function , then it should return:

**max( 1/1, 1/2, 1/3, 2/1, 2/2, 2/3, 3/1, 3/2, 3/3 )**
so the answer for the example will be 3 *i.e* 3/1.   

also write an appropriate docstring for that

In [114]:
# your function here
lis = [3, 4, 2, 1]

curr_max = 0
new_lis = []

for i in range(0, len(lis)):
   
    for j in range(0, len(lis)):
#         print(lis[i], lis[j])
#         print(lis[j])
        print(lis[i]/lis[j])
        curr_max = max(curr_max, lis[i]/lis[j])
        new_lis.append(lis[i]/lis[j])

1.0
0.75
1.5
3.0
1.3333333333333333
1.0
2.0
4.0
0.6666666666666666
0.5
1.0
2.0
0.3333333333333333
0.25
0.5
1.0

In [116]:
print(max(new_lis))

4.0

In [112]:
print(curr_max)

4.0

In [117]:
## map function

In [119]:
names = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", 
        "Lily Aldrin", "Marshall Eriksen", "Sivam Jha", "Sam Nijin", "Priyanshu Rawat", "Tehil Bansal", "Vignesh M"]

def lower_first_name(name):
    
    splitted_name = name.split(" ")
    
    first_name = splitted_name[0]
    last_name = splitted_name[1]
    
    res = first_name.lower() + " " + last_name
    
    return res

In [120]:
for i in range(0, len(names)):
    print(lower_first_name(names[i]))

barney Stinson
robin Scherbatsky
ted Mosby
lily Aldrin
marshall Eriksen
sivam Jha
sam Nijin
priyanshu Rawat
tehil Bansal
vignesh M

In [122]:
[lower_first_name(names[i]) for i in range(0, len(names))]

['barney Stinson',
 'robin Scherbatsky',
 'ted Mosby',
 'lily Aldrin',
 'marshall Eriksen',
 'sivam Jha',
 'sam Nijin',
 'priyanshu Rawat',
 'tehil Bansal',
 'vignesh M']

In [124]:
list(map(lower_first_name, names))

['barney Stinson',
 'robin Scherbatsky',
 'ted Mosby',
 'lily Aldrin',
 'marshall Eriksen',
 'sivam Jha',
 'sam Nijin',
 'priyanshu Rawat',
 'tehil Bansal',
 'vignesh M']

In [125]:
list(map(mean, numbers))

[57.0, 58.2, 50.6, 27.2]

In [126]:
# take inputs in python

In [137]:
x = input("Enter your name ")
print("Hello " + x)
print(type(x))

Enter your name Piyush
Hello Piyush
<class 'str'>

In [156]:
xi = int(input("Enter only numbers: "))
print(xi)
print(type(xi))

Enter only numbers: 4
4
<class 'int'>

In [149]:
lis = input().split()
print(lis)
print([int(x) for x in lis])

3 54 6 3  2 2
['3', '54', '6', '3', '2', '2']
[3, 54, 6, 3, 2, 2]

In [144]:
# take list as input
lis = list(map(int, input().split()))
print(lis)

4 5 2 4 5
[4, 5, 2, 4, 5]

In [166]:
inp = []
for i in range(0, 5):
    x = int(input())
    print(x)
    inp.append(x)

print(inp)

4
4
6
6
7
7
8
8
1
1
[4, 6, 7, 8, 1]

In [159]:
[input() for i in range(0, 5)]

4
5
6
7
8

['4', '5', '6', '7', '8']

In [164]:
try: x = int(input())
except: print("only integer inputs acceptable")

dfgdf
only integer inputs acceptable

In [171]:
your_input = int(input())

55

In [172]:
x = lambda a : a + 10

print(x(your_input))

65

In [184]:
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = []
limit = 140

filled=0

for char in range(0, len(headlines)):
    if filled>= 140:
        break
    else:
#         news_ticker = list(news_ticker)
        news_ticker.append(headlines[char])
        filled += len(headlines[char])
        
print(news_ticker)
fin = " ".join(news_ticker)
fin
fin[:140]

['Local Bear Eaten by Man', 'Legislature Announces New Laws', 'Peasant Discovers Violence Inherent in System', 'Cat Rescues Fireman Stuck in Tree', 'Brave Knight Runs Away']

'Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave'

In [181]:
len(headlines[0])

23